*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    border-bottom: 2px solid whitesmoke;  
    display: flex;  
    justify-content: space-between;
    align-items: center;  
    height: 80px; 
}
.logoAndLinks{
    display: flex;
    gap: 50px;
    align-items: center;
}
ul{
    display: flex;
    gap: 40px;
}